.contenedor-formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
}

#aclaracion {

    font-size : 0.75rem;

}

.label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    white-space: nowrap;
}
.btn-confirmar{
    background-color: #BBE67D;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#hidden {
    display: none;
}

input[type="date"],
select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

select {
    background-color: #fff;
    cursor: pointer;
}

option {
    font-size: 1rem;
}