:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d1cbc0;
  background-color: #ebe8e4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  width: 100%;
  height: 75%;
}
body {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.contenedor-general {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #585d5d;
  border-radius: 5px;
}
nav{
  background-color: #e06f72;
  width: 100%;
  padding-top: 2ch;
  padding-bottom: 2ch;
}
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  width: 100%;
}
.btn-nav{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: #585d5d;
  color: #FFF8EB;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid #e06f72;
}
.btn-nav:hover{
  border: 2px solid #FFF8EB;
}
.btn-nav#selected{
  background-color: #FFF8EB;
  color: #585d5d;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.contenedor-alerta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  border: 2px solid #FFF8EB;
  border-radius: 5px;
  margin-bottom: 2ch;
  margin-top: 2ch;
  padding: 1ch;
}
.contenedor-alerta#exito{
  border: 2px solid #7BE8BF;
}
.contenedor-alerta#error{
  border: 2px solid #e06f72;
}
.titulo-alerta{
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFF8EB;
  text-align: center;
}
p{
  margin-top: 0;
  margin-bottom: 0.5ch;
  text-align: center;
  color: #d1cbc0;
}
p#exito{
  color: #7BE8BF;
}
.contenedor-formulario{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formulario{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 70%;
  background-color: #777D7D;
  border: #d1cbc0 1px solid;
  border-radius: 5px;
  padding:1ch;
  margin-bottom: 1ch;
  margin-top: 1ch;
}

.campo{
  display: flex;;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 0.7ch;
}
.campo input{
  width: 40%;
  padding: 0.7ch;
  border: none;
  border-radius: 5px;
  border: 2px solid #e7a17a;
  color: #d1cbc0;
  background-color: transparent;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.campo input:hover{
  border: 2px solid #e4b17d;
}
.campo input:disabled{
  border: 2px solid transparent;
  cursor: default;
}
.campo select{
  width: 40%;
  padding: 1%;
  border: none;
  border-radius: 5px;
  border: 2px solid #e7a17a;
  color: #d1cbc0;
  background-color: transparent;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.campo select:hover{
  border: 2px solid #e4b17d;
}
.campo select:focus{
  color: black;
}
.campo select:disabled{
  border: 2px solid transparent;
  cursor: default;
}
.botonera{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2ch
}
.btn{
  padding: 0.5ch 1ch;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
  color: #d1cbc0;
  border: 2px solid #d1cbc0;
}
.btn:hover{
  border: 2px solid #FFF8EB;
}
.btn-confirmar{
  color: #7BE8BF;
  border: 2px solid #7BE8BF;
}
.btn-confirmar:hover{
  background-color: #7BE8BF;
  border: 2px solid #7BE8BF;
  color: #585d5d;
}
.btn-denegar{
  border: 2px solid #e06f72;
  color: #e06f72;
}
.btn-denegar:hover{
  background-color: #e06f72;
  border: 2px solid #e06f72;
  color: #585d5d;
}
@media (max-width: 1080px) {
  :root{
    background-color: #585d5d;
  }
  body{
    height: auto;
    margin: 0;
  }
  .contenedor-general { 
    width: 100%;
    height: 100%
  }

  .contenedor-alerta {
    width: 80%;
  }

  .formulario {
    width: 85%;
    justify-content: center;
  }

  .campo {
    flex-direction: column;
    align-items: center;
    width: 85%
  }
  .campo label{
    align-self: start;
  }
  .campo input,
  .campo select {
    width: 95%;
  }

  .botonera {
    flex-direction: column;
    gap: 1ch;
  }

  nav ul {
    gap: 0.5ch;
  }

  .btn{
    font-size: 1.1rem;
    padding: 1ch 1.2ch;
  }
}